<div class="row">

  <div class="col-lg-12">
    <h3 class="page-header">User List</h3>
  </div>
  <div colspan="10"><input type="text" class="form-control" ng-model="userCtrl.search" placeholder="Search by name,age,email,date"></div>
  <!--<user-item></user-item>-->


  <table st-table="userCtrl.users" class="table table-striped">
    <thead>
    <tr>
      <th colspan="2"  st-sort="name.last">Last Name</th>
      <th colspan="2"  st-sort="name.first">First Name</th>
      <th colspan="1"  st-sort="age">Age</th>
      <th colspan="2"  st-sort="email">Email</th>
      <th colspan="2"  st-sort="createDate">Created On</th>
      <th colspan="2"  st-sort="editDate">Last edited</th>
      <th colspan="10"  st-sort="active">Active</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in userCtrl.users | filterUser:userCtrl.search">
      <td colspan="2">{{user.name.last}}</td>
      <td colspan="2">{{user.name.first}}</td>
      <td colspan="1">{{user.age}}</td>
      <td colspan="2">{{user.email}}</td>
      <td colspan="2">{{user.createDate}}</td>
      <td colspan="2">{{user.editDate}}</td>
      <td colspan="1">
        <td><button type="button" ng-show="user.active" class="btn btn-sm btn-success">
      <i class="glyphicon glyphicon-check"></i>
    </button><td>

        <td>
          <button type="button" ng-click="userCtrl.removeUser(user)" class="btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </button>
        <td>
        <td>
          <button type="button" ng-click="editItem(row)" class="btn btn-sm">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
        <td>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="15" class="text-center">
        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
      </td>
    </tr>
    </tfoot>

</table>

</div>
