<form>
  <div colspan="2"><input class="form-control" ng-model="lastName" placeholder="Last" type="text"/></div>
  <div colspan="2"><input class="form-control" ng-model="firstName" placeholder="First" type="text"/></div>
  <div colspan="1"><input class="form-control" ng-model="age" placeholder="Age" type="text"/></div>
  <div colspan="2"><input class="form-control" ng-model="email" placeholder="Email" type="text"/></div>
  <div colspan="2"><button type="submit"  class="btn btn-sm btn-success" >
    <i class="glyphicon glyphicon-plus">
    </i> Add User
  </button></div>
</form>
