<form>
  <div colspan="2"><input class="form-control" type="hidden", name="_id"/></div>
  <div colspan="2"><input class="form-control" name="lastName" placeholder="Last"  type="text"/></div>
  <div colspan="2"><input class="form-control" name="firstName" placeholder="First" type="text"/></div>
  <div colspan="1"><input class="form-control" name="age" placeholder="Age" type="text"/></div>
  <div colspan="2"><input class="form-control" name="email" placeholder="Email" type="text"/></div>
  <div class="checkbox"><label><input type="checkbox" name="active"> Active</label></div>
  <div colspan="2"><button type="submit"  class="btn btn-sm btn-success" >
    <i class="glyphicon glyphicon-plus">
    </i> Add User
  </button></div>
</form>
